<p class="text-center">
  Es un gusto saludarle y comentarle que a partir de éste momento me encargaré de procesar su pedido, el cual pasará al área de Almacén - Empaque para su despacho y empaquetado.
</p>
