<p class="text-center">
  Hola de nuevo, estamos muy contentos de comunicarte que el ensamble y pruebas de tu equipo se realizó satisfactoriamente por lo que, como te comentamos en un correo anterior tu pedido pasará al área de empaque para su embalaje y posteriormente ser entregado a la paquetería correspondiente.
</p>
