<% if order.assemble %>
  <p class="text-center">
    Nos complace saludarle y comentarle que a partir de este momento su pedido ya fue surtido y por ello pasará a ser ensamblado, una vez termine el ensamble se realizarán algunas pruebas de rendimiento y compatibilidad así como de funcionamiento, esto con el fin de garantizar el óptimo rendimiento para el usuario final, una vez termine este proceso pasará al área de empaque para su embalaje y entrega a la paquetería final.<br>
    Muchas gracias por su atención y comprensión.
  </p>
<% else %>
  <p class="text-center">
    Nos complace saludarle y comentarle que a partir de este momento su pedido ya fue surtido y por ello pasará al área de empaque para su embalaje y entrega a la paquetería final.<br>
    Muchas gracias por su atención y comprensión.
  </p>
<% end %>
