<p class="text-center">
  Es un gusto saludarle y comentarle que a partir de este momento me encargaré de procesar su pedido, el cual pasará al área de Almacén - empaque para su despacho y empaquetado, tan pronto tengamos su número de guía se lo haremos llegar a través de un correo electrónico, quedo a sus ordenes para cualquier duda que pueda surgir.<br>
  Que tenga un excelente día.
</p>
