<p class="text-center">
  Buenas noticias nuestro estimado cliente, su paquete acaba de ser empaquetado por nuestro equipo de embalaje por lo que está a la espera de recibir su número de guía por parte de la paquetera, una vez tengamos dicho código te lo haremos llegar por medio de un correo como este para que puedas empezar a rastrear tu valiosa compra. <br>
  Agradecemos enormemente su comprensión, que tenga un lindo día.
</p>
