<div class="row pb-3">
  <div class="col-12">
    <%= form_for [:admin, devolution] do |f| %>
      <div class="form-group">
        <%= f.label :actions_taken %>
        <%= f.text_area :actions_taken, class: 'form-control',
          rows: 4, required: true %>
      </div>
      <%= f.submit t('labels.save'), class: 'btn btn-primary',
        data: { confirm: t('labels.are_you_sure_to_proceed') } %>
    <% end if can? :process, devolution %>
  </div>
</div>

