<div class="btn-group m-3" role="group" aria-label="origin_state">
  <%= link_to origin_state.name, edit_admin_origin_state_path(origin_state),
    class: 'btn btn-outline-primary btn-lg rounded-left' %>
  <%= link_to origin_state.estimated_shipment_days, edit_admin_origin_state_path(origin_state),
    class: 'btn btn-outline-success btn-lg rounded-right' %>
</div>

