<div class="card-body">
  <h2 class="m-0 text-center">Pedido: #<%= @order.ddtech_key %></h2>
  <p>
    Te informamos que tu equipo ya se encuentra ensamblado y probado, en este momento estará pasando al área de embalaje, una vez que sea enviado te informaremos vía email el número de rastreo de la paquetería.
  </p>
</div>

