.user-badge {
  background: #fefefe;
  border: 2px solid #666;
  border-radius: 50%;
  color: #666;
  display: block;
  font-size: 24px;
  height: 50px;
  padding: 4px;
  text-align: center;
  width: 50px;
}

.badge-xl {
  font-size: 60px;
  width: 110px;
  height: 110px;
  padding: 8px;
}

/* hidden-action for actions in tables for each row */
a.hidden-action {
  display: none;
}
tr:hover .hidden-action,
tr:focus .hidden-action {
  display: inline-block !important;
}
@media screen and (max-width: 920px) {
	a.hidden-action { display: inline-block }
}
/* hidden-button */
