<div class="card">
  <div class="card-header pointer" onclick="toggleChevron(this)"
    data-toggle="collapse" data-target=".notes-card">
    <h3 class="card-title">
      <%= Note.model_name.human(count: 2) %>
      <i class="fas fa-chevron-up"></i>
    </h3>
  </div>
  <div class="card-body collapse notes-card">
    <%= render partial: '/admin/notes/form', locals: {new_note: new_note} %>

    <% if notes.size == 0 %>
      <%= content_tag :p, t('.empty_notes'), class: 'card-text text-center' %>
    <% end %>

    <div class="notes-container">
    <%= render notes %>
    </div>
  </div>
</div>
