<%= render partial: 'order_header', locals: {order: @order} %>

<p class="text-center">
  Te informamos que tu equipo ya se encuentra ensamblado y probado, en este momento estará pasando al área de embalaje, una vez que sea enviado te informaremos vía email el número de rastreo de la paquetería.
</p>
