<%= render partial: 'order_header', locals: {order: @order} %>

<h2 class="text-center">¡Hola! le atiende: <%= @order.user %></h2>

<p class="text-center">
  Es un gusto saludarle y comentarle que a partir de éste momento me encargaré de procesar su pedido, el cual pasará al área de Almacén - Empaque para su despacho y empaquetado.
</p>

<p class="text-center">
  <strong>
    Una vez despachado su pedido se le hará llegar su numero de rastreo desde otro mail, favor de revisar su bandeja de correo no deseado o spam.
  </strong>
</p>

<p class="text-center">
  Quedo a sus órdenes para cualquier duda que pueda surgir y le deseo un excelente día.<br>
  <strong>¡Gracias!</strong>
</p>

<p class="text-center upcase" style="color: #ff9900;">
  <strong>
    Importante<br>
    Actualmente nos encontramos bajo una gran demanda de pedidos, por lo que podría haber demoras con su envío. Agradecemos mucho su comprensión.
  </strong>
</p>

<div class="bg-primary p-1" style="padding-top: 1em;">
  <p class="text-center upcase">importante</p>
  <p class="text-center">
    Si requiere factura, favor de indicarnos su método de pago:  tarjeta de débito, crédito, cheque, transferencia o efectivo, así como uso de CFDI. **Hacer caso omiso si ya registro sus datos de facturación en su pedido, o bien si no requiere factura.**
  </p>
  <p class="text-center">
    Le recordamos nuestros tiempos de espera en el siguiente enlace:
    <a href="https://ddtech.mx/blog/noticia/retrasos-en-envios">
      https://ddtech.mx/blog/noticia/retrasos-en-envios
    </a>
  </p>
</div>
