  <%= render partial: 'order_header', locals: {order: @order} %>

  <% if @order.assemble %>
    <p class="text-center">
      Te informamos que tu equipo está iniciando el proceso de ensamblado, una vez esté listo te informaremos vía email el número de rastreo de la paquetería.
    </p>
  <% else %>
    <p class="text-center">
      Te informamos que tu pedido ya fue surtido por almacén, estará pasando al área de embalaje, una vez que sea enviado te informaremos vía email el número de rastreo de la paquetería.
    </p>
  <% end %>
